/* Styles pour le contenu principal */
main {
  margin-bottom: 50px;
  margin-top: 30px;
  overflow-y: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  /* Supprime les marges supérieures par défaut pour les titres */
}


p {
  text-align: left;
  margin-bottom: 1.5em;
  /* Espacement entre les paragraphes */
  text-justify: distribute;
  max-width: 600px;
  margin: 0 auto;

}

/* Styles pour les posts */
.contenu {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
  /* Décalage de 250px vers la droite */
  overflow-x: hidden;
  /* Empêcher le débordement horizontal */
  display: none;
}


.contenu h2 {
  padding: 10px;
  color: #227dea;
  text-align: center;
  background-color: #e0e0e0;
  /* Couleur d'arrière-plan des titres */
  font-weight: bold;
  display: inline-block;
  /* Permet au fond de s'adapter uniquement à la largeur du texte */
}


.content {
  display: none;
  margin: 10px auto;
  text-align: justify;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
}


