.footer {
    text-align: center;
    color: white;
    overflow-x: hidden;
    margin-top: 50px;
}

@media (max-width: 768px) {
  .footer {
      transition: transform 0.3s ease;
  }

  .footer.hidden {
      transform: translateY(100%);
  }
}
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px; /* Position par rapport au bas de la fenêtre */
  right: 20px; /* Position par rapport à la droite de la fenêtre */
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.scroll-to-top.active {
  display: block;
}


  .contact-info {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .contact-info a {
    color: white; /* Définit la couleur du texte en blanc */
    text-decoration: none; /* Supprime les soulignements des liens */
}

.contact-info a:hover {
    text-decoration: underline; /* Ajoute un soulignement lors du survol */
}

@media only screen and (max-width: 768px) {
  .footer {
    position: fixed; /* Fixe le footer en bas de la fenêtre sur les petits écrans */
    bottom: 0;
    width: 100%;
  }

  /* Ajoute un padding en bas du contenu principal pour éviter qu'il ne soit caché par le footer */
  main {
    padding-bottom: 60px; /* Ajustez la valeur en fonction de la hauteur de votre footer */
  }
  /* Ajoute un padding en bas à la classe .sub-menu sur les petits écrans */
  .login-button {
    padding-bottom: 20px; /* Ajustez la valeur selon vos besoins */
  }
}