.footer {
    text-align: center;
    color: white;
    overflow-x: hidden;
    margin-top: 50px;
}


.scroll-to-top {
    position: fixed;
    bottom: -50px; /* Commence en dehors de la fenêtre */
    right: 20px;
    background-color: #ff0000;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, bottom 0.3s; /* Ajoute la transition pour une apparence fluide */
}

.scroll-to-top:hover {
    background-color: #cc0000;
}

.scroll-to-top i {
    font-size: 24px;
}

.scroll-to-top.show {
    bottom: 20px; /* Affiche le bouton lorsqu'il est visible dans la fenêtre */
}



footer .social-icons a {
    color: white; /* Couleur blanche pour les icônes sociales dans le pied de page */
      
}


  footer .social-icons {
    text-align: center; /* Centre le contenu horizontalement */
  }

  .social-icons {
    font-size: 20px;
  }
    
 
  .contact-info {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .contact-info a {
    color: white; /* Définit la couleur du texte en blanc */
    text-decoration: none; /* Supprime les soulignements des liens */
}

.contact-info a:hover {
    text-decoration: underline; /* Ajoute un soulignement lors du survol */
}

@media only screen and (max-width: 768px) {
  .footer {
    position: fixed; /* Fixe le footer en bas de la fenêtre sur les petits écrans */
    bottom: 0;
    width: 100%;
  }

  /* Ajoute un padding en bas du contenu principal pour éviter qu'il ne soit caché par le footer */
  main {
    padding-bottom: 60px; /* Ajustez la valeur en fonction de la hauteur de votre footer */
  }
  /* Ajoute un padding en bas à la classe .sub-menu sur les petits écrans */
  .login-button {
    padding-bottom: 20px; /* Ajustez la valeur selon vos besoins */
  }
}