/* Centrer le contenu de la container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

/* Styles pour la jumbotron */
.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

/* Optionnel : ajustement pour garantir que le texte soit bien visible */
.display-4, .lead {
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
}