
/* Styles pour la barre de navigation */
.navbar {
    background-color: #333; /* Changement de la couleur de fond */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
    color: white; /* Texte en blanc */
    position: fixed; /* Fixer la navbar en haut de la page pour une navigation facile */
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 20px; /* Ajout de rembourrage pour un meilleur espacement */
  }
  
  .line {
    height: 4px; /* Increased height for thicker line */
    background-color: #FF6F6F;
    margin-top: 10px;
}
  
/* Espacement uniforme pour les icônes dans nav et footer */
nav .social-icons a,
footer .social-icons a {
  margin-right: 10px; /* Espacement de 10 pixels vers la droite */
}

/* Styles spécifiques pour les icônes dans la barre latérale */
.sidebar .social-icons a {
  color: black; /* Couleur noire pour les icônes sociales dans la barre de navigation */
  margin-right: 10px; /* Ajoute un espacement droit de 10px entre chaque icône */
}

.sidebar .social-icons a:last-child {
  margin-right: 0; /* Supprime l'espacement droit pour la dernière icône pour éviter un espace vide à la fin */
}

/* Styles spécifiques pour les icônes dans le footer */
footer .social-icons a {
  color: white; /* Couleur blanche pour les icônes sociales dans le footer */
}

/* Espacement global pour .social-icons */
.social-icons {
  margin-left: 10px;
}




