.search-icon {
    display: inline-block;
    color: white; /* Changement de couleur au survol */
    cursor: pointer;
    font-size: 20px; /* Taille de l'icône */
    transition: color 0.3s ease; /* Transition pour le changement de couleur au survol */
    margin-right: 10px;
    /* Marge entre les icônes */
  }
  


#searchForm {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#searchForm div {
    display: flex;
    align-items: center;
    gap: 5px;
}
#mySearch {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
#searchForm button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#searchForm button:hover {
    background-color: #0056b3;
}

 /* Style pour le message de recherche */
 .search-message {
    color: red;
    /* Couleur grise pour le message */
    font-size: 14px;
    /* Taille de police */
    margin-top: 5px;
    /* Espacement avec le champ de recherche */
  }