/* Styles de base pour le conteneur de l'icône */
#searchIcon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #007BFF; /* Couleur de fond */
    border-radius: 50%; /* Forme circulaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transition pour les effets */
    cursor: pointer;
  }
  
  /* Styles pour l'icône */
  #searchIcon i {
    color: #ffffff; /* Couleur de l'icône */
    transition: color 0.3s; /* Transition pour la couleur */
  }
  
  /* Effet au survol */
  #searchIcon:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
    transform: scale(1.1); /* Agrandissement au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre portée plus forte */
  }
  
  #searchIcon:hover i {
    color: #e0e0e0; /* Couleur de l'icône au survol */
  }
  
  
  .logo-right {
    position: absolute;
    top: -20px; /* Déplace l'image vers le haut */
    right: 10px; /* Ajuste la position horizontale */
    width: 80px; /* Ajuste la largeur de l'image */
    height: auto; /* Maintient le ratio de l'image */
  }
  
  
  #searchForm {
    display: block; /* Afficher le formulaire */
    margin-bottom: 20px; /* Ajouter un espace en bas du formulaire */
    margin-left: 20px; /* Ajouter un décalage vers la droite */
  
  }
  
  input[type="search"] {
    width: 200px; /* Définir une largeur pour le champ de recherche */
    padding: 8px; /* Ajouter un peu d'espace à l'intérieur du champ */
    border: 1px solid #ccc; /* Ajouter une bordure */
    border-radius: 5px; /* Arrondir les coins */
    font-size: 16px; /* Définir une taille de police */
  }
  
  button[type="submit"] {
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 8px 16px; /* Ajouter de l'espace intérieur */
    border-radius: 5px; /* Arrondir les coins */
    cursor: pointer; /* Utiliser un curseur de type pointeur */
    font-size: 16px; /* Définir une taille de police */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  
 /* Style pour le message de recherche */
 #message {
    color: red;
    /* Couleur grise pour le message */
    font-size: 14px;
    /* Taille de police */
    margin-top: 5px;
    /* Espacement avec le champ de recherche */
  }