
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body.dark {
  background-color: #333;
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}


.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}


.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: #000; /* Couleur noire foncée */

}


.toggle-icon {
  margin-right: 5px;
}

.menu-icon {
  margin-right: 30px;
  /* Ajustez cette valeur selon vos besoins */
  width: 40px;
  /* Largeur du cercle */
  height: 40px;
  /* Hauteur du cercle */
  border-radius: 50%;
  /* Pour créer un cercle */
  background-color: red;
  /* Couleur de fond du cercle */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.menu-icon i {
  color: white;
  /* Couleur de l'icône */
  font-size: 24px;
  /* Taille de l'icône */

}

.close-icon i {
  color: white;
  /* Couleur de l'icône */
  font-size: 20px;
  /* Taille de l'icône */
}

/* Par défaut, le logo occupe 10% de la largeur de l'écran */
.navbar-brand {
  width: 10vw;
  height: auto;
  padding: 0.5rem;
}

/* Taille de base pour le logo */
.navbar-brand img {
  width: 10vw;
  /* Taille de base en pourcentage de la largeur de la fenêtre */
  max-width: 150px;
  /* Limite maximale */
  min-width: 50px;
  /* Limite minimale */
  height: auto;
  border-radius: 50%;
}

/* Pour les écrans de taille moyenne, augmentez la taille à 12% */
@media (min-width: 768px) {
  .navbar-brand img {
    width: 12vw;
  }
}

/* Pour les grands écrans, augmentez encore la taille à 14% */
@media (min-width: 992px) {
  .navbar-brand img {
    width: 14vw;
  }
}

/* Pour les très grands écrans, augmentez encore la taille à 16% */
@media (min-width: 1200px) {
  .navbar-brand img {
    width: 16vw;
  }
}

/* Ajustez la taille pour les petits écrans */
@media (max-width: 767px) {
  .navbar-brand img {
    width: 16vw;

  }
}